node_modules/
dist/
.angular/
coverage/

.git/
.gitignore
.gitattributes
.github/
azure-pipelines*.yaml

.env
.env.*
**/*.pem
**/*.key

.vscode/
.idea/
**/*.swp
.DS_Store

Dockerfile*
docker-compose*.yml
.dockerignore

**/*.md
docs/
**/*.spec.ts
