**/bin/
**/obj/
**/out/
**/publish/
**/TestResults/

.git/
.gitignore
.gitattributes
.github/
azure-pipelines*.yaml

**/appsettings.Development.json
**/appsettings.Local.json
**/*.user
**/secrets.json
**/.env
**/.env.*
**/*.pfx
**/*.key
**/*.pem

.vs/
.vscode/
.idea/
**/*.suo

**/Dockerfile*
**/docker-compose*.yml
**/.dockerignore

**/*.md
docs/
**/*Tests/
**/*.Tests/
